<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       ">

       <!--开启注解方式-->
       <context:annotation-config/>
       <!--引入jedis配置文件-->
       <context:property-placeholder location="classpath:redis.properties"/>

       <!-- 配置redis数据库连接池 -->
       <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
              <property name="maxTotal" value="${redis.pool.maxTotal}"/>
              <property name="maxIdle" value="${redis.pool.maxIdle}"/>
              <property name="minIdle" value="${redis.pool.minIdle}"/>
              <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}"/>
       </bean>

       <!-- 配置redis共享连接池-->
       <bean id="sharedJedisPool" class="redis.clients.jedis.ShardedJedisPool" scope="singleton">
              <constructor-arg index="0" ref="jedisPoolConfig"/>
              <constructor-arg index="1">
                     <list>
                            <bean name="master" class="redis.clients.jedis.JedisShardInfo">
                                   <constructor-arg index="0" value="${redis.master.host}" />
                                   <constructor-arg  index="1" value="${redis.master.port}" type="int" />
                            </bean>
                            <!--<bean name="slaver" class="redis.clients.jedis.JedisShardInfo">
                                   <constructor-arg index="0" value="${redis.slaver.host}" />
                                   <constructor-arg index="1" value="${redis.slaver.port}" type="int" />
                            </bean>-->
                     </list>
              </constructor-arg>
       </bean>
</beans>