<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangbo.mall.dao.ActivityProductRefPOMapper">
  <resultMap id="BaseResultMap" type="com.jiangbo.mall.pojo.ActivityProductRefPO">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="activity_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="stock" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="seckill_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, activity_id, product_id, status, stock, seckill_price,price, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_activity_product_ref
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_activity_product_ref
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiangbo.mall.pojo.ActivityProductRefPO">
    insert into mall_activity_product_ref (id, activity_id, product_id, 
      status, stock, seckill_price,price,create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{stock,jdbcType=INTEGER}, #{seckillPrice,jdbcType=DECIMAL},#{price,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jiangbo.mall.pojo.ActivityProductRefPO">
    insert into mall_activity_product_ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiangbo.mall.pojo.ActivityProductRefPO">
    update mall_activity_product_ref
    <set>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiangbo.mall.pojo.ActivityProductRefPO">
    update mall_activity_product_ref
    set activity_id = #{activityId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      stock = #{stock,jdbcType=INTEGER},
      seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="subtractStock" >
    update mall_activity_product_ref
    set
    stock = (stock - #{num,jdbcType=INTEGER})
    where status = #{status, jdbcType=INTEGER} and id = #{activityProductRefId,jdbcType=INTEGER} and (stock - #{num,jdbcType=INTEGER}) >= 0
  </update>
  <select id="selectListByCondition" parameterType="com.jiangbo.mall.pojo.ActivityProductRefPO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_activity_product_ref
    where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="activityId != null">
      and activity_id = #{activityId,jdbcType=INTEGER}
    </if>
    <if test="stock != null">
      and stock = #{stock,jdbcType=INTEGER}
    </if>
    <if test="seckillPrice != null">
      and seckill_price = #{seckillPrice,jdbcType=DECIMAL}
    </if>
    <if test="price != null">
      and price = #{price,jdbcType=DECIMAL}
    </if>
    <if test="productId != null">
      and  product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    order by create_time asc
  </select>
  <select id="selectProductIdListByActivityIdAndStatus" resultType="java.lang.Integer">
    select product_id from mall_activity_product_ref where status = 1 and activity_id = #{activityId,jdbcType=INTEGER}
  </select>

</mapper>