<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangbo.mall.dao.ProductPOMapper">
  <resultMap id="BaseResultMap" type="com.jiangbo.mall.pojo.ProductPO">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sub_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="detail" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="seckill_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_status" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="image_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, name, sub_title, detail,status, seckill_price,price, stock, product_status,image_id,status,
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiangbo.mall.pojo.ProductPO">
    insert into mall_product (id, category_id, name, 
      sub_title, detail,seckill_price,price,
      stock, product_status, image_id,status,
      create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{subTitle,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR}, #{seckillPrice,jdbcType=DECIMAL},#{price,jdbcType=DECIMAL},
      #{stock,jdbcType=INTEGER}, #{productStatus,jdbcType=TINYINT}, #{imageId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jiangbo.mall.pojo.ProductPO">
    insert into mall_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiangbo.mall.pojo.ProductPO">
    update mall_product
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiangbo.mall.pojo.ProductPO">
    update mall_product
    set category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      product_status = #{productStatus,jdbcType=TINYINT},
      image_id = #{imageId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateStatusByPrimaryKey">
    update mall_product
    set
    status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="subtractStock" >
    update mall_product
    set
    stock = (stock - #{num,jdbcType=INTEGER})
    where id = #{productId,jdbcType=INTEGER} and (stock - #{num,jdbcType=INTEGER}) >= 0
  </update>

  <select id="selectListByCondition" parameterType="com.jiangbo.mall.pojo.ProductPO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    <trim prefix="where" prefixOverrides="and|or">
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="subTitle != null">
      and sub_title = #{subTitle,jdbcType=VARCHAR}
    </if>
    <if test="seckillPrice != null">
      and seckill_price = #{seckillPrice,jdbcType=DECIMAL}
    </if>
    <if test="price != null">
      and price = #{price,jdbcType=DECIMAL}
    </if>
    <if test="stock != null">
      and stock = #{stock,jdbcType=INTEGER}
    </if>
    <if test="productStatus != null">
      and product_status = #{productStatus,jdbcType=TINYINT}
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="imageId != null">
      and image_id = #{imageId,jdbcType=INTEGER}
    </if>
    <if test="detail != null">
      and detail = #{detail,jdbcType=LONGVARCHAR}
    </if>
    </trim>
  </select>
</mapper>